.footer
	flex-shrink: 0
	background-color: var(--dark)
	color: var(--light-text)
	&__logo
		.box
			width: 10.625rem
	&__name
		font-size: .75rem
		font-weight: var(--bold)
		line-height: 1.1
		text-transform: uppercase
		color: #434343
	&__contact
		font-weight: var(--med)
		color: var(--light-text)
	&__col
		height: 100%
	&__call
		margin-top: .75rem
		position: relative
		text-transform: uppercase
		line-height: 1.1
		color: var(--light-text)
		font-weight: var(--bold)
		height: 2rem
		font-size: 1rem
		border: none
		background-color: transparent
		display: flex
		justify-content: center
		span
			padding: 0 1.25rem
		&::before
			content: ''
			min-width: .625rem
			height: .625rem
			background-color: var(--accent-1)
			display: block
			position: absolute
			bottom: 0
			right: 0
			transition: 0.5s ease-in-out
		&:hover
			&::before
				min-width: 100%
	&__items
		border-top: .0625rem solid #F7F6F2
	&__item
		border-right: .0625rem solid #F7F6F2
		height: 6.4375rem
		&--1
			min-width: 15.1875rem
			padding-left: 5rem
		&--2
			padding: 0 3rem
		&--3
			padding: 0 1.9375rem
		&--4
			flex: 1
		&:last-child
			border-right: none
	&__phone
		color: var(--light-text)
		&--2
			color: var(--light-text)
			font-weight: var(--bold)
	&__dev
		font-size: .75rem
		letter-spacing: 0.04em
		&--logo
			.box
				width: 7.125rem
				height: 1.75rem
		&--text
			color: var(--border)
			transition: 0.3s ease
		&:hover
			.footer__dev
				&--text
					color: var(--accent-1)
			.dev-logo
				opacity: 0
				&--hover
					opacity: 1
	&__link
		margin-bottom: .375rem
		font-size: 1.125rem
		line-height: 1.4
		font-weight: var(--light)
		color: #D0D0D0
		&:last-child
			margin: 0
		&:hover
			color: var(--accent-1)
	&__list
		position: relative
		padding: .9375rem 0 .9375rem 5rem
		&::before
			content: ''
			width: 100vw
			height: .0625rem
			border-bottom: .0625rem solid var(--border)
			position: absolute
			top: 0
			left: -5rem
	&__dop
		position: relative
		padding-right: 1.625rem
	&__top
		position: absolute
		right: -5rem
		top: 0
		width: 5rem
		height: 5rem
		+center
		z-index: 9999
		.icon
			width: 1.125rem
	.dev-logo
		position: absolute
		left: 0
		top: 0
		transition: 0.3s ease
		&--hover
			opacity: 0
			position: absolute
			top: 0
			left: 0
			transition: 0.3s ease
	&__social
		.box
			width: 2.5rem
		&:hover
			svg
				path
					fill: var(--accent-1)
	&__map
		width: 50%
		height: 26.5625rem
		position: absolute
		right: 0
		top: 0
	&-contacts
		.footer
			&__wrap
				position: relative
			&__item
				&--2
					padding: 0 5rem
			&__info
				width: 50%
				min-height: 15rem
			&__items
				width: 50%

@media (max-width: 991.9808px)
	.footer
		padding-top: 1.5rem
		&__list
			padding: 0
			&::before
				display: none
		&__dop
			margin-top: .5rem
			padding: 0
		&__link
			margin-bottom: .5rem
		&__top
			right: -1.5rem
			top: auto
			bottom: 0
			border-left: .0625rem solid var(--light-text)
			height: 5.5625rem
			width: 5.5625rem
		&__items
			width: 100vw
			margin-left: -1.5rem
			flex-wrap: wrap
			border-bottom: .0625rem solid var(--light-text)
		&__item
			height: 4.5625rem
			&--1
				padding: 0 1.5rem
				min-width: auto
			&--2
				padding: 0 1.875rem
			&--3
				padding: 0 1.5rem
		&__dev
			border-top: .0625rem solid var(--light-text)
			width: 100vw
			margin-left: -1.5rem
			padding-left: 1.5rem
			padding-right: 7rem
		&-contacts
			.footer
				&__item
					&--2
						padding: 0 5rem 0 1.5rem
				&__info
					width: 100%
					min-height: auto
				&__items
					width: 100vw
		&__map
			position: initial
			width: 100vw
			margin-left: -1.5rem
			height: 25rem

@media (max-width: 575.9808px)
	.footer
		&__item
			&:nth-child(3)
				border-right: none
			&--1
				padding: 0 1.875rem 0 1.5rem
			&--3
				padding: 0 1.5rem
			&--4
				border-top: .0625rem solid var(--light-text)
				padding: 0 1rem
		&__copyright
			font-size: 1rem
		&__link
			font-size: .75rem
		&__phone
			font-size: 1.5rem
			&--2
				font-size: 1.25rem
		&__map
			height: 17.5rem
		&-contacts
			.footer
				&__items
					justify-content: space-between
				&__item
					&--2
						border-right: none
					&--3
						border-right: none
						border-left: .0625rem solid var(--light-text)
