.stages
	.services-main
		&__title
			color: var(--main)
	&__num
		font-size: 3.125rem
		text-transform: uppercase
		font-weight: var(--extra)

@media (max-width: 575.98px)
	.stages
		.services-main__slide
			height: 27.5rem
