.pagination
	display: flex
	align-items: center
	gap: 1.5rem
	.page-link
		letter-spacing: 0.04em
		font-family: var(--font-main)
		color: var(--color-text-muted-2)
		font-size: 1.125rem
		line-height: 1.2
		border: none
		background-color: transparent
		padding: 0
		&:focus
			box-shadow: none
	.page-item
		&.active
			.page-link
				color: var(--color-text-main)
	.page-arrow
		&-prev
			margin-right: .5rem
		&-next
			margin-left: .5rem
