.reviews-card
	&__name
		font-size: 1.0625rem
		font-weight: var(--semi)
		text-transform: uppercase
		line-height: 1.2
	&__sub
		font-weight: var(--light)
		font-size: 1.125rem
		color: var(--subtext)
		line-height: 1.4