.nav-tabs
	border: none
	gap: 1.5rem
	.nav-link
		margin: 0
		background-color: rgba(255, 255, 255, 0.5)
		border: .0625rem solid var(--color-border-gray)
		color: var(--color-text-muted)
		text-transform: uppercase
		letter-spacing: 0.04em
		line-height: 1.4
		border-radius: 0
		height: 3.625rem
		padding: 0 2rem
		font-size: 1.125rem
		+center
		&.active
			background-color: var(--color-bg-dark)
			color: var(--color-text-light)
			border-color: var(--color-border-dark)
			&:hover
				background-color: var(--color-bg-dark)
				color: var(--color-text-light)
				border-color: var(--color-border-dark)
		&:hover
			background-color: var(--color-primary)
			color: var(--color-text-light)
			border-color: var(--color-primary)
		&:active
			background-color: var(--color-bg-dark)
			color: var(--color-text-light)
			border-color: var(--color-border-dark)

@media (max-width: 991.98px)
	.nav-tabs
		gap: 1rem
