.main-about
	border-bottom: .0625rem solid var(--border)
	&__image
		.box
			width: 100%
			height: 51.0625rem
		&--2
			.box
				width: 100%
				height: 48.125rem
	&__desc
		padding: 5rem
	&__text
		max-width: 40.125rem
		width: 100%
	&__phrase
		font-weight: var(--semi)
		max-width: 42.0625rem
		width: 100%
		&::before
			margin-top: .375rem
	&__wrapper
		position: relative
	&__top
		position: absolute
		top: 5rem
		left: 5rem
		max-width: 36.375rem
		width: 100%

@media (max-width: 991.98px)
	.main-about
		padding-bottom: 3.75rem
		&__top
			position: initial
		&__desc
			padding: 1.875rem 0 0 0
		&__image
			.box
				height: 39.375rem
			&--2
				.box
					height: 39.375rem

@media (max-width: 575.98px)
	.main-about
		&__image
			.box
				height: 17.5rem
			&--2
				.box
					height: 17.5rem
